*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 18px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

nav{
    display: flex;
    flex-direction: row;
    padding: 8px 3px;
}
.nav-head{
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 1px;
    flex: 2;
}
.nav-link{
    flex: 1;
}
.nav-link ul{
    display: flex;
    flex-direction: row;
}
.nav-link ul li{
    list-style: none;
    margin: 7px 1.5rem 4px;
    font-size: 1.4rem;
    cursor: pointer;
}
.nav-link ul li a{
    text-decoration: none;
    color: black;
}
.nav-link ul li a:hover{
    text-decoration: underline 3px orange;
}
.nav-link ul li select{
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
}
.nav-link ul li select:hover{
    text-decoration: underline 3px orange; 
}
#userName{
    font-weight: normal;
    font-size: 1rem;
    margin-left: 5px;
    color: blue;
    text-decoration: underline 1px gray;
  }

hr{
    border: 2px blue  solid;
    margin-bottom: 3rem;
}

.views button{
    margin-left: 1.8rem;
    padding: 5px 10px;
    background-color: rgb(98, 98, 98);
    border: 2px gray solid;
    border-radius: 5px;
    color: white;
}
.views button:hover{
    background-color: white;
    color: black;
    transition: ease-in-out .2s;
}

.container{
    display: flex;
    justify-content: center;
    align-items:baseline;
}
.container .wrapper{
    overflow:scroll ;
    height: fit-content;
    max-height: 80vh;  
    width: 95%;
    display: flex;
    justify-content: center;
}
.table {
    border-collapse: collapse;
    width: 100%;
}
.table-head{
    position: sticky;
    top: 0;
    background-color: steelblue;
    font-weight: bold;
    font-size:1.4rem;
 }
 .table-body{
    font-size: 1.2rem;
 }
th, td {
    text-align: left;
    padding: 10px 8px;
}
tr:nth-child(even) {
    background-color: lightgray;
}
.table-body tr .btn{
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    padding:2px 10px;
    border: 2px solid rgb(17, 255, 0);
    border-radius: 3px;
    background-color: white;    
}
.table-body tr .btn:hover{
    background-color: rgba(127, 248, 129, 0.519);
}

.container form{
    /* background-color: rgba(210, 210, 210, 0.069); */
    box-shadow: 1px 1px 3px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0rem 1rem 0rem 3rem;
    padding: 10px 1.5rem 1rem 1.5rem;
    border-radius: 5px;
}
form h2{
    margin: 0;
    padding: 0;
    margin-bottom: 1.2rem;
    text-decoration: underline gray;
    color: blue;
}
form label{
    display: block;
    font-size: 1.1rem;
    margin-bottom: 3px;
}
form input, button{
    background-color: rgb(249, 249, 249);
    margin-bottom: 1rem;
    font-size: 1.2rem;
    padding: 3px 8px;
    border: 2px solid lightblue;
    outline-color:rgb(51, 195, 242);
}
form button:hover{
    font-weight: bold;
    padding: 5px 10px;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.views #viewPro{
    display: none;
}
.discountView{
    overflow:scroll ;
    height: fit-content;
    max-height: 80vh;  
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: none;
}
.discountView div{
    flex: 28.333%;
    background-color: rgb(103, 244, 164);
    font-weight: bold;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 2px 2px 6px black;
    border-radius: 5px;
    letter-spacing: 1px;
    width: 25%;
}
.discountView div:hover{
    background-color: white;
    transition: ease-in-out .2s;
    cursor: pointer;
}
.discountView div p{
    padding: 5px 5px;
    font-size: 1.2rem;
}
